@charset "utf-8";
html,
body {
  /*font-size: 100px;*/
  font-family: Arial, sans-seri;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  -webkit-user-select: auto !important;
}


@media screen and (min-width：375px) {
  html {
    font-size: 75px;
  }
}

@media screen and (min-width：320px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width：768px) {
  html {
    font-size: 100px;
  }
}